---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lgtm-stack
  namespace: lgtm-stack
spec:
  chart:
    spec:
      chart: lgtm-distributed
      version: "*"
      sourceRef:
        kind: HelmRepository
        name: grafana
  interval: 12h
  # https://github.com/grafana/helm-charts/blob/main/charts/lgtm-distributed/values.yaml
  # https://github.com/grafana/helm-charts/blob/main/charts/loki-distributed/values.yaml
  # https://github.com/grafana/helm-charts/blob/main/charts/grafana/values.yaml
  # https://github.com/grafana/helm-charts/blob/main/charts/tempo-distributed/values.yaml
  # https://github.com/grafana/mimir/blob/main/operations/helm/charts/mimir-distributed/values.yaml
  # https://github.com/grafana/oncall/blob/main/helm/oncall/values.yaml
  values:
    grafana:
      ingress:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
        hosts:
          - grafana.staging.addeo.net
        tls:
          - secretName: grafana-tls
            hosts:
              - grafana.staging.addeo.net
