# {{ ansible_managed }}

{% macro make_interface(interface) -%}
{% if interface.comment | default() %}
# {{ interface.comment }}
{% endif %}
{% if interface.auto | default() %}
auto {{ interface.name }}
{% elif interface.allow | default() %}
allow-{{ interface.allow }} {{ interface.name }}
{% endif %}
{% if interface.no_auto_down | default() %}
no-auto-down {{ interface.name }}
{% endif %}
iface {{ interface.name }} inet {{ interface.inet }}
{% if interface.address | default() %}
  address {{ interface.address | ansible.utils.ipaddr('address') }}
  netmask {{ interface.address | ansible.utils.ipaddr('netmask') }}
{% set broadcast = interface.address | ansible.utils.ipaddr('broadcast') %}
{% if broadcast is not none %}
  broadcast {{ broadcast }}
{% endif %}
{% endif %}
{% if interface.gateway | default() %}
  gateway {{ interface.gateway }}
{% endif %}
{% if interface.dns_nameservers | default() %}
  {%- set nameservers = interface.dns_nameservers -%}
  {%- if nameservers is string -%}
    {% set nameservers = [nameservers] %}
  {%- endif %}
  dns-nameservers {{ nameservers | join(' ') }}
{% endif %}
{% if interface.dns_search | default() %}
  {%- set search = interface.dns_search -%}
  {%- if search is string -%}
    {% set search = [search] %}
  {%- endif %}
  dns-search {{ search | join(' ') }}
{% endif %}
{% if interface.mtu | default() %}
  mtu {{ interface.mtu }}
{% endif %}
{% if interface.pre_up | default() %}
  {%- set pre_up = interface.pre_up -%}
  {%- if pre_up is string -%}
    {% set pre_up = [pre_up] %}
  {%- endif %}
  {% for entry in pre_up -%}
    pre-up {{ entry }}
  {% endfor %}
{% endif %}
{% if interface.extra | default() %}
{{ interface.extra | indent(2, true) }}
{% endif %}
{% endmacro %}

{%- if not network_interfaces_single_file %}
  {%- set interfaces = [item] -%}
{% else %}
# The loopback network interface.
auto lo
iface lo inet loopback

{% endif -%}

{% for interface in interfaces -%}
  {{ make_interface(interface) }}
{% endfor -%}

{% if network_interfaces_single_file %}
source /etc/network/interfaces.d/*
{% endif %}
