---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  chart:
    spec:
      chart: grafana
      version: "*"
      sourceRef:
        kind: HelmRepository
        name: grafana
  interval: 12h
  # https://github.com/grafana/helm-charts/blob/main/charts/grafana/values.yaml
  values:
    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
      hosts:
        - grafana.staging.addeo.net
      tls:
        - secretName: grafana-tls
          hosts:
            - grafana.staging.addeo.net
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          # https://grafana.com/docs/grafana/latest/datasources/loki/#provision-the-loki-data-source
          - name: Loki
            uid: loki
            type: loki
            url: http://loki-gateway.monitoring.svc.cluster.local
            isDefault: false
          # https://grafana.com/docs/grafana/latest/datasources/prometheus/#provision-the-data-source
          - name: Mimir
            uid: prom
            type: prometheus
            url: http://mimir-gateway.monitoring.svc.cluster.local/prometheus
            isDefault: true
          # https://grafana.com/docs/grafana/latest/datasources/tempo/configure-tempo-data-source/#provision-the-data-source
          - name: Tempo
            uid: tempo
            type: tempo
            url: http://tempo-gateway.monitoring.svc.cluster.local
            isDefault: false
            jsonData:
              tracesToLogsV2:
                datasourceUid: loki
              lokiSearch:
                datasourceUid: loki
              tracesToMetrics:
                datasourceUid: prom
              serviceMap:
                datasourceUid: prom
    grafana.ini:
      database:
        type: postgres
        host: $__file{/etc/secrets/database-credentials/host}
        name: $__file{/etc/secrets/database-credentials/dbname}
        user: $__file{/etc/secrets/database-credentials/user}
        password: $__file{/etc/secrets/database-credentials/password}
      server:
        root_url: https://grafana.staging.addeo.net
      auth:
        disable_login_form: true
      users:
        auto_assign_org_role: None
      auth.generic_oauth:
        enabled: true
        icon: signin
        name: AddeoID
        allow_sign_up: true
        auto_login: false
        email_attribute_name: email:primary
        role_attribute_path: contains(groups[*], 'monitoring-super-admin') && 'GrafanaAdmin' || contains(groups[*], 'monitoring-admin') && 'Admin' || contains(groups[*], 'monitoring') && 'Viewer'
        role_attribute_strict: true
        groups_attribute_path: groups
        allowed_groups: monitoring-admin, monitoring
        allow_assign_grafana_admin: true
        scopes: openid email profile groups
        auth_url: $__file{/etc/secrets/oidc-credentials/authorization_url}
        token_url: $__file{/etc/secrets/oidc-credentials/token_url}
        client_id: $__file{/etc/secrets/oidc-credentials/client_id}
        client_secret: $__file{/etc/secrets/oidc-credentials/client_secret}
      security:
        disable_initial_admin_creation: true
    extraSecretMounts:
      - name: oidc-credentials
        secretName: grafana-oidc-credentials
        defaultMode: 0440
        mountPath: /etc/secrets/oidc-credentials
        readOnly: true
      - name: tls-ca-additional
        secretName: tls-ca-additional
        mountPath: /etc/ssl/certs/ca-additional.pem
        subPath: ca-additional.pem
        readOnly: true
      - name: database-credentials
        secretName: postgres-app
        defaultMode: 0440
        mountPath: /etc/secrets/database-credentials
        readOnly: true
