---
# Network Interfaces Configuration.
manage_network_interfaces: true
network_interfaces_single_file: true

# Firewall Configuration.
manage_firewall: false

# /etc/hosts Configuration.
manage_hosts_file: false

harden_server: false
manage_unattended_upgradse: false
install_postfix: false

# Proxmox Configuration.
pve_group: proxmox_servers
pve_manage_hosts_enabled: true
pve_cluster_enabled: true
pve_cluster_clustername: armada
pve_datacenter_cfg:
  mac_prefix: 0A:DD:E0
  migration: type=secure,network=10.1.12.0/24
  tag-style: color-map=docker:1D64EE:FFFFFF;pbs:E57000:FFFFFF
pve_reboot_on_kernel_update: false
pve_remove_old_kernels: false
pve_zfs_enabled: false
pve_domains_cfg:
  - name: pam
    type: pam
    attributes:
      comment: Linux PAM standard authentication
  - name: pve
    type: pve
    attributes:
      comment: Proxmox VE authentication server
  - name: AddeoID-staging
    type: openid
    attributes:
      comment: AddeoID (Staging)
      client-id: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        34313961303033303761313965363539353736393339623033343766623263373561656432323638
        3032643064303262326231613134623735393030636236640a396136363632623530396164383637
        64343733393738396532346361666262393733393038316434303832623237393232396239363665
        3134386539633261650a653862626438396233616464383365323363643763353162663064633865
        39663165666237616536333234313462313332316663663735633761383664653666653337633034
        6138613235336637313734323063363935323032653063313933
      issuer-url: https://id.staging.addeo.net
      autocreate: true
      client-key: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        63626163346663633164343234633238653431353537383532343237616136353630396430363638
        3166373061643039326363366535653962616634366261340a386564356661653136396465626333
        34356639366131306330306565383765363533363537633665323533323864363732663765313363
        3630303939386161620a366666336432363230643465316532633939623362353630336563663335
        62306233663438366233313038383030646338313530663531333038343261383234633235646438
        6537336264653734336466653133346662336530663137383533
      default: true
      groups-claims: groups
      groups-overwrite: true
      query-userinfo: true
      scopes: email profile groups
      username-claim: username
pve_roles:
  - name: CSI
    privileges:
      - VM.Audit
      - VM.Config.Disk
      - Datastore.Allocate
      - Datastore.AllocateSpace
      - Datastore.Audit
pve_groups:
  - name: Administrators
  - name: proxmox-admins-AddeoID
  - name: proxmox-admins-AddeoID-staging
pve_users:
  - name: marc@pve
    password: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      61333231333231303564653664343636343830626537616531613364663766646530396166346361
      3036383130373161356162373430396337383830383735310a313031393934643164313332633164
      34346534316666376331616635373639646263396433613536363230363137373238653032376161
      6438613066386366390a653731653239303139336232333238343166623438616663366463346531
      30396261343636303630623364666365656565626661326534346231383665396138316361343961
      62613131373037373665643230663864663565336334386232653837653365363133646231373763
      66333136643632393335326236306335393366386361306661623530346436313931356537316161
      35633163396362626537
    email: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      39663531333362633533393630356239393238646233666439636266333334383237633338343930
      6233646536323039636538363063323461666565373933650a636136613763613165613237376563
      63323634316330633462666238376537306263373732363837643639386238306563353730343161
      6134363761353562320a636561386165366134666136336530616234616239353963646661666236
      36383837336462303532353233333339323331663135636633343964336239613361
    firstname: Marc
    lastname: Addeo
    groups:
      - Administrators
  - name: tofu@pve
    groups:
      - Administrators
  - name: kubernetes-csi@pve
pve_acls:
  - path: /
    roles:
      - Administrator
      - PVEAdmin
    groups:
      - Administrators
      - proxmox-admins-AddeoID
      - proxmox-admins-AddeoID-staging
  - path: /
    roles:
      - CSI
    users:
      - kubernetes-csi@pve

pve_storages:
  # @TODO didn't i have local in here?
  - name: vmpool
    type: zfspool
    content:
      - images
      - rootdir
    pool: vmpool
  - name: bruce
    type: pbs
    content:
      - backup
    server: 10.1.15.79
    username: backup@pbs
    password: "{{ (hostvars['bruce.addeo.net']['pbs_users'] | selectattr('username', 'eq', 'backup@pbs'))[0].password }}"
    datastore: kilo
    fingerprint: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      66303962393831623637643634353839633862313862396232646461376432326437656135613539
      6161383762333932656466383633623464656462396366650a343164396637343964353937326363
      62346436326138666531343338383834653561316133376330336665306565396262643161343936
      3533333535636639650a383036353636643033333136353561313838333363393631393263313636
      64666634333033396233346362643263663531386339396332326238613338656135363466663232
      66306331663037653963356139383561353932366162393137363562626337643962626336333532
      31623063663862356432653764323136323464353334623563386234306233656364373133383537
      65306536393439336531626535376538653166336231306565313565373930353036653839386463
      3162
  - name: kilo-bruce-backup
    type: nfs
    content:
      - backup
    server: kilo.san.addeo.net
    export: /spool/data/backups/bruce.addeo.net
    options: vers=4.1
