---
apiVersion: pocketid.internal/v1alpha1
kind: PocketIDInstance
metadata:
  name: pocket-id
  namespace: pocket-id-system
spec:
  encryptionKey:
    valueFrom:
      secretKeyRef:
        name: pocket-id-encryption-key
        key: encryption-key
  databaseUrl:
    valueFrom:
      secretKeyRef:
        name: postgres-app
        key: fqdn-uri
  appUrl: https://id.staging.addeo.net
  env:
    - name: FILE_BACKEND
      value: s3
    - name: S3_BUCKET
      value: pocket-id-files
    - name: S3_REGION
      valueFrom:
        secretKeyRef:
          name: pocket-id-garage-key
          key: region
    - name: S3_ENDPOINT
      valueFrom:
        secretKeyRef:
          name: pocket-id-garage-key
          key: endpoint
    - name: S3_ACCESS_KEY_ID
      valueFrom:
        secretKeyRef:
          name: pocket-id-garage-key
          key: access-key-id
    - name: S3_SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: pocket-id-garage-key
          key: secret-access-key
    - name: S3_FORCE_PATH_STYLE
      value: "true"

    - name: UI_CONFIG_DISABLED
      value: "true"
    - name: APP_NAME
      value: AddeoID
    - name: DISABLE_ANIMATIONS
      value: "true"
    - name: EMAIL_LOGIN_NOTIFICATION_ENABLED
      value: "true"
    - name: EMAIL_ONE_TIME_ACCESS_AS_ADMIN_ENABLED
      value: "true"
    - name: EMAIL_VERIFICATION_ENABLED
      value: "true"

    - name: SMTP_HOST
      value: smtp.mailgun.org
    - name: SMTP_PORT
      value: "465"
    - name: SMTP_FROM
      value: no-reply@addeo.net
    - name: SMTP_TLS
      value: tls
    - name: SMTP_USER
      valueFrom:
        secretKeyRef:
          name: pocket-id-smtp-credentials
          key: username
    - name: SMTP_PASSWORD
      valueFrom:
        secretKeyRef:
          name: pocket-id-smtp-credentials
          key: password

    - name: MAXMIND_LICENSE_KEY
      valueFrom:
        secretKeyRef:
          name: pocket-id-maxmind-license-key
          key: credential

    # @TODO
    # - name: TRACING_ENABLED
    #   value: "true"
    # - name: METRICS_ENABLED
    #   value: "true"

  persistence:
    enabled: false
  # @TODO what does this mean?
  # Controls whether the container's user namespace is separate from the host
  # Set to false to enable user namespace isolation
  # true by default (no user namespace isolation, container runs in host user namespace)
  hostUsers: true
