apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/rancher
  - ../base/oauth2-proxy
  - ../base/capacitor
  - ../base/proxmox
  - ../base/lgtm-stack
  - rancher/secrets.yaml
  - capacitor/secrets.yaml
patches:
  - path: rancher/release.yaml
    target:
      kind: HelmRelease
      name: rancher
  - path: proxmox/endpoint-slice.yaml
    target:
      kind: EndpointSlice
      name: proxmox
  - path: proxmox/ingress.yaml
    target:
      kind: Ingress
      name: proxmox
  - path: lgtm-stack/release.yaml
    target:
      kind: HelmRelease
      name: lgtm-stack
