apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/rancher
  - ../base/pocket-id
  - ../base/oauth2-proxy
  - ../base/capacitor
  - ../base/proxmox
  - pocket-id/volumes.yaml
  - pocket-id/secrets.yaml
  - rancher/secrets.yaml
  - capacitor/secrets.yaml
patches:
  - path: rancher/release.yaml
    target:
      kind: HelmRelease
      name: rancher
  - path: pocket-id/release.yaml
    target:
      kind: HelmRelease
      name: pocket-id
  - path: proxmox/endpoint-slice.yaml
    target:
      kind: EndpointSlice
      name: proxmox
  - path: proxmox/ingress.yaml
    target:
      kind: Ingress
      name: proxmox
