---
apiVersion: v1
kind: Namespace
metadata:
  name: op-system
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: 1password
  namespace: op-system
spec:
  interval: 24h
  url: https://1password.github.io/connect-helm-charts/
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: 1password
  namespace: op-system
spec:
  interval: 30m
  chart:
    spec:
      chart: connect
      version: "*"
      sourceRef:
        kind: HelmRepository
        name: 1password
        namespace: op-system
      interval: 12h
  values:
    connect:
      create: true
    operator:
      create: true
      pollingInterval: 60
